header {
    font-weight: bold;
    font-size: 33px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 250px;    
}

body {
    background: url('/Users/heatherkim/Documents/Prime/solo-project/public/images/catpink.jpeg') no-repeat;
    background-size: 100vh;
    background-position: center;
}

