.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 10px;
  background-color: #c85c92;
  overflow: hidden;
  height: 80px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 17px;
  font-weight: 600;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #c85c92;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 17px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #c85c92;
}
